.footerWrapper
  position: fixed
  width: 100vw
  @media only screen and (min-width: 1367px)
    width: calc(100vw - 17px)
  background: linear-gradient(178.4345340695195deg, rgba(122, 39, 54,1) 1.2717219589257502%,rgba(121, 38, 54,1) 1.2717219589257502%,rgba(103, 34, 64,1) 29.36710110584518%,rgba(103, 34, 65,1) 29.54548446550816%,rgba(66, 25, 87,1) 86.89573459715638%)
  z-index: 999


.footer
  display: flex
  flex-direction: row
  justify-content: space-between


.title
  display: flex
  justify-content: center
  align-items: center
  padding: 1rem 2rem
  h1
    margin: 0
    color: lightgoldenrodyellow


.ul
  list-style: none


.li
  display: inline-block
  margin-right: 1rem

.link
  color: lavenderblush

