.headerWrapper {
    position: absolute;
    width: 100%;
    background: rgba(85,90,42,1);
    background: -moz-linear-gradient(left, rgba(85,90,42,1) 0%, rgba(115,84,115,1) 100%);
    background: -webkit-linear-gradient(left, rgba(85,90,42,1) 0%, rgba(115,84,115,1) 100%);
    background: -o-linear-gradient(left, rgba(85,90,42,1) 0%, rgba(115,84,115,1) 100%);
    background: -ms-linear-gradient(left, rgba(85,90,42,1) 0%, rgba(115,84,115,1) 100%);
    background: linear-gradient(to right, rgba(85,90,42,1) 0%, rgba(115,84,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555a2a', endColorstr='#735473', GradientType=1 );
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    display: flex;
    margin: 0;
    padding-left: 1rem;
    color: antiquewhite;
}

.ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.li {
    display: inline-block;
    margin-right: 1rem;
}

.link {
    color: antiquewhite;
}