.headerWrapper
  position: absolute
  width: 100%
  background: linear-gradient(178.4345340695195deg, rgba(122, 39, 54,1) 1.2717219589257502%,rgba(121, 38, 54,1) 1.2717219589257502%,rgba(103, 34, 64,1) 29.36710110584518%,rgba(103, 34, 65,1) 29.54548446550816%,rgba(66, 25, 87,1) 86.89573459715638%)
  z-index: 999


.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center


.h1
  display: flex
  margin: 0
  padding-left: 1rem
  color: lightgoldenrodyellow


.ul
  list-style: none
  display: flex
  align-items: center


.li
  display: inline-block
  margin-right: 1rem


.link
  color: lavenderblush
